@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.donations-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
}
  
.sidebar {
    width: 250px;
    margin-right: 20px;
}
  
.content {
    flex-grow: 1;
    font-family: 'Karla', sans-serif;
    /* background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}
.filter{
    font-family: 'Karla', sans-serif;
    color: white;
    background-color: #800000;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
}
.title{
    font-family: 'Karla', sans-serif;
    color: white;
    font-size: 7vh;
    font-weight: bolder;
    padding: 0px 0px 0px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    /* background-color: #800000; */
}

/* .row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.col-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px 10px 0px 10px;
} */