/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


body {
  margin: 0; /* Remove default margin for fullscreen display */
  padding: 0; /* Remove default padding */
  height: 100vh; /* Set height to viewport height */
  width: 100vw; /* Set width to viewport width */
  background-image: url('/pictures/opt.jpg'); /* Correct path for image */
  background-size: cover; /* Ensure the image covers the entire screen */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent image tiling */
  background-attachment: fixed; /* Keep the background fixed during scrolling */
}

@media (max-width: 768px) {
  body {
    background-size: contain; /* Adapt for smaller devices if necessary */
  }
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5); /* Adjust transparency here */
  z-index: -1; /* Ensure this stays behind the content but above the background image */
}
