@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

.landing-page{
    background-color:rgb(246, 246, 246);
    display: flex;
}

.row-container{
    display: flex;
    width: 95%;
    padding: 5px;
}
.col-container{
    flex: 1;
    margin-right: 10px;
    align-items: center;
}

.lp-basic-title{
    background-color: #800000;
}

