@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

.login-container {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-family: 'Karla', sans-serif;
  }
  
  .login-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 20px 20px 10px 20px;
    width: 450px;
  }
  
  .login-card-header {
    color: maroon;
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 20px;
    text-align: center;
  }
  
.label{
  font-size:1em;
}

  .field-container {
    margin-bottom: 15px;
  }
  
  .field-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
  }
  
  .field-container input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.4em;
    font-family: 'Karla', sans-serif;
  }
  
  .login-btn {
    background-color: #BBD8BB;
    font-family: 'Karla', sans-serif;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.1em;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
  }
  
  .login-btn:hover {
    background-color: darkgreen;
    color: white;
  }

  .forgotpw-link {
    display: flex;
    justify-content: left;
    background-color: white;
    color: maroon;

    /* padding: 20px 20px 10px 20px; */
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1em;
    text-decoration: underline;

    margin-bottom: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .signup-link {
    display: flex;
    justify-content: center;
    background-color: white;
    color: maroon;

    padding: 20px 20px 10px 20px;
    cursor: pointer;
    font-size: 1em;
    text-decoration: underline;

    margin-bottom: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .signup-link:hover {
    color: maroon; /* A darker shade of maroon */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
  }