@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.form-step {
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 450px;
  overflow: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Karla', sans-serif;
}

.form-header {
  font-size: 2em;
  color: maroon;
  margin-bottom: 20px;
}

h2{
  color: white;
}

.row-container {
  display: flex;
  width: 95%;
  padding: 10px;
}

.field-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
  margin-right: 10px;
}

.field-container label {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.field-container input[type="text"],
.field-container input[type="date"],
.field-container input[type="number"],
.field-container select,
.field-container textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'Karla', sans-serif;
}

.field-container textarea {
  resize: vertical;
}

.textArea{
  width: 100%;
}

.target{
  margin-bottom:40px;
}

.regSectionName{
  margin-bottom: 10px;
  /* margin-top: 50px; */
  color: maroon;
  font-family: 'Karla', sans-serif;
  font-size: 2em;
  font-weight:bolder;
}

.submit-button {
  background-color: #BBD8BB;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: darkgreen;
  color: white;
}

.clinical-exam-table {
  width: 100%;
  border-collapse: collapse;
}

.clinical-exam-table th,
.clinical-exam-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.clinical-exam-table th {
  background-color: #f5f5f5;
  font-size: 1.2em;
}

.clinical-exam-table select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1em;
}

.registry-submit-button {
  background-color: #BBD8BB;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 10px 50px;
  cursor: pointer;
  font-size: 1em;
  /* position: absolute; Position the button absolutely */
  /* bottom: 20px; Position the button 20px from the bottom */
  /* right: 20px; Position the button 20px from the right */
  transition: background-color 0.2s ease, color 0.2s ease;
}

.registry-submit-button:hover {
  background-color: darkgreen;
  color: white;
}