@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #800000;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Karla', sans-serif;
    height: 80px;
}

.navbar-title {
    text-align: middle;
    justify-content: center;
    display: flex;
    align-items: center; /* Align the icon and text vertically */
    margin-left: 50px;
}

.navbar-title img {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    margin-right: 10px; /* Add spacing between icon and title text */
}

.navbar-title-txt{
    font-size:30px;
    font-weight: 500;
    color: white;
}

.navbar-btn-container{
    display: flex;
    padding: 10px;
    /* background-color: blue; */
    margin-right: 30px;
}

.navbar-btn{
    /* padding: 5px; */
    background-color: #800000;
    border: none;
    color: white;
    text-align: center;
    flex: 1;
    margin-right: 1vh;
    font-size: 18px;
    margin-left: 4vh;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    /* background-color: aqua; */
}

.navbar-btn:hover{
    color: #FFB9B9;
    cursor: pointer;
}

