@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
    margin: 0;
    padding: 0;
}

.navbar{
    /* background-color: #800000; */
    background-color: #FDFCFC;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Karla', sans-serif;
    height: 80px;
    margin: 20px 20px 0px 20px
}

.navbar-title {
    text-align: middle;
    justify-content: center;
    display: flex;
    align-items: center; /* Align the icon and text vertically */
    margin-left: 50px;
}

.navbar-title img {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    margin-right: 10px; /* Add spacing between icon and title text */
}

.navbar-title-txt{
    font-size:30px;
    font-weight: 500;
    color: #800000;
}

.navbar-btn-container{
    display: flex;
    padding: 10px;
    /* background-color: blue; */
    margin-right: 30px;
}

.navbar-btn {
    background-color: #FDFCFC;
    color: #800000;
    border: 2px solid transparent; /* Initial border color */
    text-align: center;
    flex: 1;
    margin-right: 1vh;
    font-size: 18px;
    margin-left: 2vh;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    border-radius: 3px;
    transition: border-color 0.3s ease;
  }
  
  .navbar-btn:hover {
    border-color: #800000; /* Change border color on hover */
  }

