@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* researcherDashboard.module.css */

.dashboard {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  font-family: 'Karla', sans-serif;
  background-color: #FDFCFC;
  border-radius: 20px;
  padding-bottom: 50px;
}

.title{
  font-family: 'Karla', sans-serif;
  color: white;
  font-size: 7vh;
  font-weight: bolder;
  padding: 0px 0px 0px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  /* background-color: #800000; */
}

.radioButtons {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  gap: 5px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow */
  background-color: #f9f9f9; /* Optional: light background */
}



.radioLabel {
  font-size: 1.2em;
}

.radioInput {
  margin-right: 8px;
}

.diseaseDetails{
  margin-top:3em;
}

.diseaseHeader{
  margin-bottom:5px;
}

.diseaseName{
  background-color: "#BBD8BB";
  font-size: 2em;
  font-weight: bolder;
  background-color: #BBD8BB;
  padding: 5px 5px 5px 10px;
  border-radius: 8px;
  height:10%;
}

.diseaseSpecContainer {
  display: grid;
  grid-template-columns: 25% 75%; /* Two columns */
  grid-template-rows: auto auto; /* Two rows */
  /* gap: 5px; */
  width: 100%;
  margin-top: 5px;
}

.diseaseSpecContainer .left-column {
  grid-row: span 2; /* Make the left column span both rows */
  font-size: 4em;
  font-weight: bolder;
  display: flex;
  align-items: cneter; /* Center vertically */
  justify-content: left; /* Center horizontally */
  margin: 0px;
}


.diseaseSpecContainer .right-top {
  grid-column: 2;
  text-align: left;
  /* background-color: red; */
  font-size: 1.5em;
  margin: 0px;
  align-items: center;
  justify-content: center;
}

.diseaseSpecContainer .right-bottom {
  grid-column: 2;
  text-align: left;
  /* background-color: yellow; */
  font-size: 1.5em;
  margin: 0px;
  align-items: center;
  justify-content: center;
}


.variantsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust column width as needed */
  gap: 10px; /* Spacing between items */
  width: 100%;
  margin-top: 5px;
}


.variantCard {
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  color: #2c3e50;
  text-align: center;
}

h3{
  font-size:1.7em;
  margin-bottom:2px;
}

h2{
  font-size: 2em;
  font-weight:bold;
  margin-bottom:2px;
  margin-top: 50px;
}

.chartContainer {
  width: 100%;
  height: 50vh; /* Adjust as needed */
}

/* .donutContainer{
  margin-bottom: 5px;
} */

.clinicalContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust column width as needed */
  gap: 10px; /* Spacing between items */
  width: 100%;
  margin-top: 5px;
}