@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Karla', sans-serif;
}

.event-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.event-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px 0;
  width: 50vw;
  font-family: 'Karla', sans-serif;
}

.event-card-buttons {
    display: flex;
    gap: 5px;
  }
  
  .edit-button,
  .delete-button {
    background-color: white;
    color: maroon;
    border: 1px solid maroon;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .edit-button:hover,
  .delete-button:hover {
    background-color: maroon;
    color: white;
  }

.event-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.event-details {
  list-style-type: none;
  padding: 0;
}

.event-details li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
}

.event-details li::before {
  content: '•';
  position: absolute;
  left: 0;
  color: #E4CCFF;
  font-size: 1.5em;
  line-height: 1;
}