@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
.land {
    height: 75vh;
    display: flex; /* Optional, if .land contains other elements */
    flex-direction: column; /* Optional, to stack children vertically */
    align-items: center; /* Center children horizontally */
    /* justify-content: center; Center children vertically */
    /* text-align: center; Optional, center text */
}
.landing-page {
    padding: 20px 20px 20px 20px;
    font-family: 'Karla', sans-serif;
    /* border: 2px solid red; */
}

.success-indicator{
    height: 20px;
    padding: 20px 50px;
    font-family: 'Karla', sans-serif;
    background-color: lightgreen;
    color: darkgreen;

    opacity: 0;
    animation: fadeIn 1s forwards, fadeOut 3s 4s forwards;
    /* Starts fadeIn immediately and fadeOut after 4 seconds */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


body, html {
    /* overflow: hidden; Disables scrolling */
    height: 100%; /* Ensures content doesn't expand beyond the viewport */
    margin: 0; /* Prevents unexpected margins */
    background-image: url('/pictures/ocugeneBG.png'); /* Path to your JPEG */
    background-size: cover; /* Makes sure the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the image fixed during scrolling (optional) */
}


.title{
    font-family: 'Karla', sans-serif;
    color: white;
    font-size: 7vh;
    font-weight: bolder;
    padding: 0px 0px 0px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    /* background-color: #800000; */
}


.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* width: 80%; */
    align-items: center; /* Centers vertically */
    margin: 0; /* Removes default margins */
    border-radius: 20px;
    background-color: rgb(255,255,255,0.5);
    padding: 20px 20px 20px 20px;
}
.row-container-card-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* width: 80%; */
    align-items: center; /* Centers vertically */
    margin: 0; /* Removes default margins */
    border-radius: 20px;
    /* background-color: rgb(255,255,255,0.5); */
    padding: 20px 0px 20px 0px;
}

.category-col-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* padding: 0 5px 0 5px; */
    /* border: 2px solid yellow; */
}

.col-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px 5px 0px 5px;
    /* border: 2px solid green; */
}
  
.category-header {
    background-color: maroon;
    color: white;
    border-radius: 10px;
    padding: 20px 0px 20px 0px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center; 
    font-size: 1.5em; 
    /* border: 2px solid blue; */
}

.card-btn-title{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
}

.card-button {
    background-color: #BBD8BB;
    font-family: 'Karla', sans-serif;
    height: 250px;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 0;
    position: relative; /* Required for positioning the pseudo-element */
    overflow: hidden; /* Hide the sliding text */
    transition: all 0.4s ease; /* Smooth transition for shadow and background */
}

.card-button span{
    display: block;
    transition: transform 0.4s ease;
}

.card-button:hover span{
    transform: translateY(-100%);
    color: white;
    transition: all 0.4s ease;
}

.card-button::after {
    white-space: pre-wrap;
    content: attr(data-info);
    color: white;
    position: absolute;
    bottom: -100%; /* Start below the button */
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 5px;
    /* background-color: darkgreen; */
    background: linear-gradient(to top, rgba(13, 46, 6, 0.7), rgba(0, 0, 0, 0));
    box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
    transition: bottom 0.4s ease; /* Smooth transition for sliding text */
}

.card-button:hover::after {
    bottom: 0; /* Slide up the text */
}

.card-button:hover {
    background-color: darkgreen;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Light shadow */
                0 6px 12px rgba(0, 0, 0, 0.15), /* Medium shadow */
                0 8px 16px rgba(0, 0, 0, 0.2); /* Darkest shadow at the bottom */
}

