@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body{
    /* overflow: hidden; */
}

.title{
    font-family: 'Karla', sans-serif;
    color: white;
    font-size: 7vh;
    font-weight: bolder;
    padding: 0px 0px 0px 60px;
    margin-top: 0;
}

.form-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: stretch; /* Ensure both sidebar and form take full height */
    padding-left: 60px;
    padding-right: 60px;
}

.regContent{
    margin-top: 15px;
    /* margin-bottom: 40px; */
}
  
.sidebar {
    width: 250px;
    /* margin-right: 20px; */
    display: flex;
    flex-direction: column;
}
  
.form {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 20px;
    margin-left: 10px;
    /* margin-right: 20px; */
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}