@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

.title{
    font-family: 'Karla', sans-serif;
    color: maroon;
    font-size: 5vh;
    font-weight: bolder;
    padding: 20px 0px 20px 40px;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch; /* Ensure both sidebar and form take full height */
    padding: 20px;
}
  
.sidebar {
    width: 250px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
  
.form {
    flex-grow: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}