@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
.title-plist{
    font-family: 'Karla', sans-serif;
    color: white;
    font-size: 7vh;
    font-weight: bolder;
    padding: 0px 0px 0px 60px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-top: 0;
    /* background-color: #800000; */
}

.p-table-plist{
    margin-left: 60px;
    font-family: 'Karla', sans-serif;
    max-width: 60vw; /* Set table width to take full space */
    overflow-x: auto; /* Enables horizontal scrolling if table overflows */
    /* margin-top: 10px; */
    margin-bottom: 20px;
    padding: 10px 10px 10px 60px;
    background-color: #FDFCFC;
    border-radius: 20px;
}

  /* Style for the entire table */
.p-table-plist table {
    width: auto; 
    border-collapse: collapse; /* Remove gaps between cell borders */
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Table header styling */
.p-table-plist th {
    background-color: maroon; /* Header background color */
    color: white; /* Header text color */
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd; /* Header cell border */
}

/* Table cell styling */
.p-table-plist td {
    padding: 10px; /* Space inside cells */
    border: 1px solid #ddd; /* Border for table cells */
    text-align: left; /* Text alignment */
}

/* Table row styling */
.p-table-plist tr:nth-child(even) {
    background-color: #f2f2f2; /* Alternate row color */
}

.p-table-plist tr:hover {
    background-color: #ddd; /* Row color on hover */
}

.viewlist{
    color: white;
    background-color: #800000;
    font-family: 'Karla', sans-serif;
}

.viewlist:hover{
    cursor: pointer;
    background-color:#ae3e3e;
}